body {
    background-image:url(./imag.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width:60vw;
    height:fit-content;
    margin:0 auto;
    text-align:center;
}

h3 {
    padding:10px;
    
    font-size:35px;
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue
}

#input-todo{
    padding:5px;
    width:22vw;
    border-radius:5px;
    font-size:16px;
}
.add{
    padding:5px;
    width:75px;
    border-radius:5px;
    background-color: green;
    color:white;
    font-size:15px;
    font-weight:600;
}
#check {
    float:left;
}
.list {
    width:50vw;
    margin:0 auto;
    text-align:center;
    
}
ul {
    width:50vw;
    text-align:center;
    padding:10px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 8px;
    box-shadow: 5px rgb(196, 188, 188);
}
li {
    list-style-type: none;
    padding:5px;
    background-color: white;
    border:2px solid whitesmoke;
    border-radius:5px;
    box-shadow:10px whitesmoke;
    margin-top:10px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color:darkslategrey
    
}

span {
    float:left;
    width:35vw;
    text-align:left;
}
.remove {
    /* margin-left:15vw; */
    padding:5px;
    font-size:15px;
    color:white;
    background-color:#ff6666;
    border:none;
    border-radius:5px;
}

input[type="checkbox"]:checked+span{
    text-decoration: line-through;
    color:rgb(196, 188, 188);
}
.edit {
    padding:5px 15px 5px 15px;
    font-size:15px;
    color:white;
    background-color:green;
    border:none;
    border-radius:5px
}
.edit-div {
    height:15vh;
    width:40vw;
    display:none;
    position:absolute;
    top:30%;
    left:30%;
    background-color: grey;
    text-align:center;
    border-radius:5px;
}
.edit-input {
    padding:5px;
    width:22vw;
    border-radius:5px;
    font-size:16px;
    margin:25px auto;

}
#save {
    padding:10px 15px 10px 15px;
    font-size:15px;
    color:white;
    background-color:green;
    border:none;
    border-radius:5px   
}